<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
          th:fragment="search-Tutorial">

    <title>Search</title>
    <script th:fragment="search-Tutorial">
        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById('search');
            filter = input.value.toUpperCase();
            ul = document.getElementById("tutorials");
            li = ul.getElementsByTagName('li');

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("h4")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
</head>
<body>
<div th:fragment="search-Tutorial">
    <div style="padding-left: 10%">
        <div class="row " align="left">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="search" class="form-control input-lg shadow p-3 mb-5" id="search"
                           onkeyup="myFunction()"
                           placeholder="Search" aria-label="Search"/>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <h5>Filter by categories</h5>
        </div>
        <div class="row" align="center">
            <div class="jumbotron shadow p-3 mb-5" style=" background-color: #ffffff" aria-labelledby="navbarDropdown">
                <a th:each="category : ${categoryList}" class="dropdown-item"
                   th:href="@{'/tutorial/all/' + ${category.name}}" th:text="${category.name}"/>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="'/tutorial/all'">Select All</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</div>
</body>
</html>