<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Creator Tutorial</title>
</head>

<body style="background-color: #e3f2fd">
<div th:replace="fragment/header :: header"></div>
<form class="needs-validation" novalidate method="post" th:object="${tutorial}">
    <div class="container" align="center">
        <div class="jumbotron shadow p-3 mb-5" style="padding-top: 100px">
            <div class="form-row">
                <div class="col-md-12">
                    <h3>Tutorial Creator</h3>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <label for="validationDefault01">Title</label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="Title" required
                           th:field="*{title}">
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row" align="center">
                <div class="col-md-6">
                    <tr>
                        <td><label th:class="${#fields.hasErrors('description')}? 'error'">Description</label>:</td>
                        <td><textarea name="description" placeholder="Markdown supported" rows="8" cols="64" minlength="2" maxlength="2048"/></textarea>
                        </td>
                    </tr>
                </div>
                <div class="col-md-6">
                    <label for="categories">Select Category:</label>
                    <input type="text" class="form-control" list="categories"
                           placeholder="Type for an existing or new category"
                           required
                           th:field="*{category}">
                    <datalist id="categories">
                        <option th:each="category : ${categoryList}" th:value="${category.name}"
                                th:text="${category.name}">
                        </option>
                    </datalist>
                </div>
            </div>
            <div class="form-row" align="center">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" value="Create tutorial"/>
                    Next</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>