<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exception has been ocurret</title>
</head>
<body>
<br>
<br>
<div th:replace="fragment/header :: header"></div>
<br>
<br>
<div th:text="${errorMsg}">
<h1> <br> <br>Errorhas ben ocurred: <span th:text="${errorMsg}">errorMsg</span></h1>
    <h1>Please conctat whit support to fix this problem</span></h1>
    <img src="Recursos/Jose1.jpeg" class="float-right">
</div>
</body>
</html>